<!DOCTYPE html>
<html>
    <head>
        <!-- META -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

        <!-- TITLE -->
        <title>karmy-project</title>

        <!-- FAVICON -->
        <link rel="shortcut icon" href="favicon.ico">

        <!-- JS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyC6A0k8XPrR5X-dwTXMVSSV90-EvqeX6Yw"></script>
        <script src="//cdn.socket.io/socket.io-1.4.5.js"></script>
        <script src="js/main.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="color"></div>
        <div id="map"></div>
    </body>
</html>
